<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="apple-touch-icon" href="../static/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="../static/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="../static/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="../static/app-assets/vendors/css/charts/apexcharts.css">
    <link rel="stylesheet" type="text/css" href="../static/app-assets/vendors/css/extensions/tether-theme-arrows.css">
    <link rel="stylesheet" type="text/css" href="../static/app-assets/vendors/css/extensions/tether.min.css">
    <link rel="stylesheet" type="text/css" href="../static/app-assets/vendors/css/extensions/shepherd-theme-default.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="http://cdn.bootstrapmb.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="../static/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="../static/app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="../static/app-assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="../static/app-assets/css/themes/semi-dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="../static/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="../static/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="../static/app-assets/css/pages/dashboard-analytics.css">
    <link rel="stylesheet" type="text/css" href="../static/app-assets/css/pages/card-analytics.css">
    <link rel="stylesheet" type="text/css" href="../static/app-assets/css/plugins/tour/tour.css">
	<link rel="stylesheet" type="text/css" href="../static/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/style.css">
    <!-- END: Custom CSS-->

    <script type="text/javascript">
    //excel按钮
    //打印表格
    var idTmr;
    function  getExplorer() {
        var explorer = window.navigator.userAgent ;
        //ie
        if (explorer.indexOf("MSIE") >= 0) {
            return 'ie';
        }
        //firefox
        else if (explorer.indexOf("Firefox") >= 0) {
            return 'Firefox';
        }
        //Chrome
        else if (explorer.indexOf("Chrome") >= 0) {
            return 'Chrome';
        }
        //Opera
        else if (explorer.indexOf("Opera") >= 0) {
            return 'Opera';
        }
        //Safari
        else if (explorer.indexOf("Safari") >= 0) {
            return 'Safari';
        }
    }
    function method5(tableid) {
        if (getExplorer() == 'ie') {
            var curTbl = document.getElementById(tableid);
            var oXL = new ActiveXObject("Excel.Application");
            var oWB = oXL.Workbooks.Add();
            var xlsheet = oWB.Worksheets(1);
            var sel = document.body.createTextRange();
            sel.moveToElementText(curTbl);
            sel.select();
            sel.execCommand("Copy");
            xlsheet.Paste();
            oXL.Visible = true;

            try {
                var fname = oXL.Application.GetSaveAsFilename("Excel.xls",
                    "Excel Spreadsheets (*.xls), *.xls");
            } catch (e) {
                print("Nested catch caught " + e);
            } finally {
                oWB.SaveAs(fname);
                oWB.Close(savechanges = false);
                oXL.Quit();
                oXL = null;
                idTmr = window.setInterval("Cleanup();", 1);
            }

        } else {
            tableToExcel(tableid)
        }
    }
    function Cleanup() {
        window.clearInterval(idTmr);
        CollectGarbage();
    }
    var tableToExcel = (function() {
        var uri = 'data:application/vnd.ms-excel;base64,', template = '<html><head><meta charset="UTF-8"></head><body><table  border="1">{table}</table></body></html>', base64 = function(
            s) {
            return window.btoa(unescape(encodeURIComponent(s)))
        }, format = function(s, c) {
            return s.replace(/{(\w+)}/g, function(m, p) {
                return c[p];
            })
        }
        return function(table, name) {
            if (!table.nodeType)
                table = document.getElementById(table)
            var ctx = {
                worksheet : name || 'Worksheet',
                table : table.innerHTML
            }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()
    function jsonToArray(data) {
        var dataArray = [];
        var i = 0;
        for (i = 0; i < data.length; i++) {
            var dataLine = [];
            var d = data[i];
            dataLine.push('')
            dataLine.push(d.contractId);
            dataLine.push(d.contractName);
            dataLine.push(d.customer);
            dataLine.push(d.endTime);
            dataLine.push(d.beginTime);
            dataLine.push(d.contractContent);
            dataLine.push(d.username);
            console.log(dataLine);
            dataArray.push(dataLine)
        }
        return dataArray;
    }
    </script>


</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern 2-columns  navbar-floating footer-static   menu-collapsed" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto"><a class="navbar-brand">
                        <div class="brand-logo"></div>
                        <h2 class="brand-text mb-0">智慧养老系统</h2>
                    </a></li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item"><a href="/index"><i class="feather icon-home"></i><span class="menu-title" data-i18n="Dashboard">首页</span></a>
                   
                </li>
                <li class=" navigation-header"><span></span>
                </li>
                <li class=" nav-item"><a href="/old-people"><i class="feather icon-mail"></i><span class="menu-title" data-i18n="Email">老年人信息管理</span></a>
                </li>
                <li class=" nav-item"><a href="/volunteer"><i class="feather icon-message-square"></i><span class="menu-title" data-i18n="Chat">义工信息管理</span></a>
                </li>
                <li class=" nav-item"><a href="/employee"><i class="feather icon-check-square"></i><span class="menu-title" data-i18n="Todo">工作人员信息管理</span></a>
                </li>
                <li class=" nav-item"><a href="/manager"><i class="feather icon-calendar"></i><span class="menu-title" data-i18n="Calender">系统管理员信息管理</span></a>
                </li>
        		<li class=" nav-item"><a href="/video"><i class="feather icon-circle"></i><span class="menu-title" data-i18n="Calender">实时监测</span></a>
        		</li>
        		<li class=" nav-item"><a href="/event"><i class="feather icon-zap"></i><span class="menu-title" data-i18n="Calender">事件管理</span></a>
        		</li>
                
            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content">

        <!-- BEGIN: Header-->
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <nav class="header-navbar navbar-expand-lg navbar navbar-with-menu floating-nav navbar-light navbar-shadow">
            <div class="navbar-wrapper">
                <div class="navbar-container content">
                    <div class="navbar-collapse" id="navbar-mobile">
                        <div class="mr-auto float-left bookmark-wrapper d-flex align-items-center">
                            <ul class="nav navbar-nav">
                               <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-expand"><i class="ficon feather icon-maximize"></i></a></li>
                            </ul>
                            
                        </div>
                        <ul class="nav navbar-nav float-right">
                            
                            
                            <li class="nav-item nav-search"><a class="nav-link nav-link-search"><i class="ficon feather icon-search"></i></a>
                                <div class="search-input">
                                    <div class="search-input-icon"><i class="feather icon-search primary"></i></div>
                                    <input class="input" type="text" placeholder="Explore ..." tabindex="-1" data-search="template-list" />
                                    <div class="search-input-close"><i class="feather icon-x"></i></div>
                                    <ul class="search-list"></ul>
                                </div>
                            </li>
                            <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon feather icon-bell"></i><span class="badge badge-pill badge-primary badge-up"></span></a>
                                <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                    <li class="dropdown-menu-header">
                                        <div class="dropdown-header m-0 p-2">
                                            <h3 class="white">5 New</h3><span class="notification-title">Notifications</span>
                                        </div>
                                    </li>
                                    <li class="scrollable-container media-list"><a class="d-flex justify-content-between" href="javascript:void(0)">
                                            <div class="media d-flex align-items-start">
                                                <div class="media-left"><i class="feather icon-plus-square font-medium-5 primary"></i></div>
                                                <div class="media-body">
                                                    <h6 class="primary media-heading">You have new order!</h6><small class="notification-text"> Are your going to meet me tonight?</small>
                                                </div><small>
                                                    <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">9 hours ago</time></small>
                                            </div>
                                        </a><a class="d-flex justify-content-between" href="javascript:void(0)">
                                            <div class="media d-flex align-items-start">
                                                <div class="media-left"><i class="feather icon-download-cloud font-medium-5 success"></i></div>
                                                <div class="media-body">
                                                    <h6 class="success media-heading red darken-1">99% Server load</h6><small class="notification-text">You got new order of goods.</small>
                                                </div><small>
                                                    <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">5 hour ago</time></small>
                                            </div>
                                        </a><a class="d-flex justify-content-between" href="javascript:void(0)">
                                            <div class="media d-flex align-items-start">
                                                <div class="media-left"><i class="feather icon-alert-triangle font-medium-5 danger"></i></div>
                                                <div class="media-body">
                                                    <h6 class="danger media-heading yellow darken-3">Warning notifixation</h6><small class="notification-text">Server have 99% CPU usage.</small>
                                                </div><small>
                                                    <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                            </div>
                                        </a><a class="d-flex justify-content-between" href="javascript:void(0)">
                                            <div class="media d-flex align-items-start">
                                                <div class="media-left"><i class="feather icon-check-circle font-medium-5 info"></i></div>
                                                <div class="media-body">
                                                    <h6 class="info media-heading">Complete the task</h6><small class="notification-text">Cake sesame snaps cupcake</small>
                                                </div><small>
                                                    <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">Last week</time></small>
                                            </div>
                                        </a><a class="d-flex justify-content-between" href="javascript:void(0)">
                                            <div class="media d-flex align-items-start">
                                                <div class="media-left"><i class="feather icon-file font-medium-5 warning"></i></div>
                                                <div class="media-body">
                                                    <h6 class="warning media-heading">Generate monthly report</h6><small class="notification-text">Chocolate cake oat cake tiramisu marzipan</small>
                                                </div><small>
                                                    <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">Last month</time></small>
                                            </div>
                                        </a></li>
                                    <li class="dropdown-menu-footer"><a class="dropdown-item p-1 text-center" href="javascript:void(0)">Read all notifications</a></li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                    <div class="user-nav d-sm-flex d-none"><h1 id="head-username" class="mb-2" style="font-size: larger;">null</h1><span class="user-status">online</span></div><span><img class="round" src="../static/app-assets/images/portrait/small/avatar-s-11.png" alt="avatar" height="40" width="40" /></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="page-user-profile.html"><i class="feather icon-user"></i> Edit Profile</a><a class="dropdown-item" href="app-email.html"><i class="feather icon-mail"></i> My Inbox</a><a class="dropdown-item" href="app-todo.html"><i class="feather icon-check-square"></i> Task</a><a class="dropdown-item" href="app-chat.html"><i class="feather icon-message-square"></i> Chats</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="auth-login.html"><i class="feather icon-power"></i> Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- END: Header-->

        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section id="column-selectors">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="mb-0">管理员信息</h4>
                                    <button type="button" class="btn btn-success mr-1 mb-1" onclick="method5(tableitems)">导出EXCEL</button>
                                	<button type="button" class="btn btn-success mr-1 mb-1" onclick="window.location.href='/newmanager'">新增管理员</button>
                                </div>
                                <div class="card-content">
                                    <div class="card-body card-dashboard">
                                        
                                        <div class="table-responsive">
                                            <table class="table table-striped dataex-html5-selectors" id="tableitems">
                                                <thead>
                                                    <tr>
                                                        <tr>
                											<th>编号</th>
                                                        	<th>用户名</th>
                                                        	<th>密码</th>
                                                        	<th>真实姓名</th>
                                                        	<th>性别</th>
                                                        	<th>邮箱</th>
                                                        	<th>电话</th>
                                                        	<th>移动电话</th>
                                                        	
                                                        	<th>查看</th>
                                                        </tr>
                                                    </tr>
                                                </thead>
                                                <tbody id="tablebody">
                                                    
                                                </tbody>
                                                
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
            </div>
        </div>
		<div class="content-wrapper">
		    <div class="content-body"> 
		        <!-- Bar Chart -->
		        <div class="row">
		            <div class="col-12">
		                <div class="card">
		                    <div class="card-header">
		                        <h4 class="card-title">Bar Chart</h4>
		                    </div>
		                    <div class="card-content">
		                        <div class="card-body">
		                            <div id="bar-chart-oldpeople" class="height-400"></div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		
		
		        <!-- Pie Chart -->
		        <div class="row">
		            <div class="col-12">
		                <div class="card">
		                    <div class="card-header">
		                        <h4 class="card-title">Pie Chart</h4>
		                    </div>
		                    <div class="card-content">
		                        <div class="card-body">
		                            <div id="pie-chart-oldpeople" class="height-400"></div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		
		
		    </div>
		</div>
    </div>
    <!-- END: Content-->
	<script>
		function seemore(i){
			
			$.cookie("manager_detail_num",i);
			window.location.href='/manager-detail';
		}
		window.onload=function(){
			var param = $.cookie("username"); 
			console.log(param); 
		
			var headusername=document.getElementById('head-username');
			headusername.innerHTML=param;
			
			var manager_josn_text={"type":"manager"};
			var num = new Array(8);
			
			$.ajax({
			
				url : "http://127.0.0.1:5000/manager",
				type : "POST",
				async : true,
				data:JSON.stringify(manager_josn_text),
				contentType:"application/json; charset=UTF-8",
				dataType : 'json',
				success:function(data){
					
					// var data=[{"id":"1","name":"name1","sex":"男","phone":"185365565555","cardid":"1365655566566956666","intime":"2020-06-01","roomnum":"503","state":"很好"},{"id":"2","name":"name1","sex":"男","phone":"185365565555","cardid":"1365655566566956666","intime":"2020-06-01","roomnum":"503","state":"很差"}];
					var tablebody=document.getElementById('tablebody');
					tablebody.innerHTML='';
					for(var i in data){//遍历packJson 数组时，i为索引
						
						var tabletr = document.createElement("tr");
						var tabletd1 = document.createElement("td");
						var tabletd2 = document.createElement("td");
						var tabletd3 = document.createElement("td");
						var tabletd4 = document.createElement("td");
						var tabletd5 = document.createElement("td");
						var tabletd6 = document.createElement("td");
						var tabletd7 = document.createElement("td");
						var tabletd8 = document.createElement("td");
						var tabletd9 = document.createElement("td");
						
						tabletd1.innerHTML=data[i].ID;
						tabletd2.innerHTML=data[i].UserName
						tabletd3.innerHTML=data[i].Password;
						tabletd4.innerHTML=data[i].REAL_NAME;
						tabletd5.innerHTML=data[i].SEX;
						tabletd6.innerHTML=data[i].EMAIL;
						tabletd7.innerHTML=data[i].PHONE;
						tabletd8.innerHTML=data[i].MOBILE;
						
						var mbutton = document.createElement("input");
						mbutton.setAttribute("type", "button");
						mbutton.setAttribute("value", "查看");
						mbutton.setAttribute("id", "seemorebutton");
						mbutton.setAttribute("class", "btn btn-flat-primary mr-1 mb-1");
						mbutton.setAttribute("onclick", "seemore("+i+")");
						
						tabletd9.appendChild(mbutton);
						tabletr.appendChild(tabletd1);
						tabletr.appendChild(tabletd2);
						tabletr.appendChild(tabletd3);
						tabletr.appendChild(tabletd4);
						tabletr.appendChild(tabletd5);
						tabletr.appendChild(tabletd6);
						tabletr.appendChild(tabletd7);
						tabletr.appendChild(tabletd8);
						tabletr.appendChild(tabletd9);
						tablebody.appendChild(tabletr);
						
					}
					
				
				}
			});
		
		}
	</script>
    <!-- BEGIN: Vendor JS-->
    <script src="../static/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="../static/app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <script src="../static/app-assets/vendors/js/extensions/tether.min.js"></script>
    <script src="../static/app-assets/vendors/js/extensions/shepherd.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="../static/app-assets/js/core/app-menu.js"></script>
    <script src="../static/app-assets/js/core/app.js"></script>
    <script src="../static/app-assets/js/scripts/components.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="../static/app-assets/js/scripts/pages/dashboard-analytics.js"></script>
    <!-- END: Page JS-->
	
	<!-- BEGIN: Page Vendor JS-->
	<script src="../static/app-assets/vendors/js/charts/echarts/echarts.min.js"></script>
	<!-- END: Page Vendor JS-->
	
	<!-- BEGIN: Page JS-->
	<script src="../static/app-assets/js/scripts/charts/chart-echart.js"></script>
	<!-- END: Page JS-->

	
	<script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	
	<!-- BEGIN: Page Vendor JS-->
	<script src="../static/app-assets/vendors/js/tables/datatable/pdfmake.min.js"></script>
	<script src="../static/app-assets/vendors/js/tables/datatable/vfs_fonts.js"></script>
	<script src="../static/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
	<script src="../static/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
	<script src="../static/app-assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
	<script src="../static/app-assets/vendors/js/tables/datatable/buttons.print.min.js"></script>
	<script src="../static/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js"></script>
	<script src="../static/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
	<!-- END: Page Vendor JS-->
	
	<!-- BEGIN: Page JS-->
	<script src="../static/app-assets/js/scripts/datatables/datatable.js"></script>
	<!-- END: Page JS-->
	
	
</body>
<!-- END: Body-->

</html>